/* reset css */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* 
    1: vị tri 
    2: kích thước 
    3: màu sắc
    4: kiểu dáng 
*/
label{
    text-decoration: none;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.text-while {
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}
.clear{
    clear: both;
}
.text-decoration-line{
    text-decoration:none !important;
}
.open{
    display: flex !important;
}

.row{
    margin-left:-8px ;
    margin-right:-8px ;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-third{
    width: 33.33333%;
}

.mt-bottom{
    margin-bottom:16px;
}

/* main */
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
}
.main {
}

.header {
    top: 0;
    height: 46px;
    background-color: #000;
    position: fixed;
    right: 0px;
    width: 100%;
    z-index: 100;   
}

.nav {
    font-size: 0;   
    position: relative;
}

.nav li {
    list-style: none;
    display: inline-block;
}
.nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
.nav li a {
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.nav li:hover > a {
    background-color: #ccc;
    color: #333;
}
.nav li:hover .subnav {
    display: block;
}
.subnav {
    display: none;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.subnav li {
    display: block;
    min-width: 160px;
}
.subnav li a {
    color: #333;
}
.nav-bars{
    display: none;
}

.nav-bars,
.nav-search {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    line-height: 46px;
    padding: 0 24px;
    float: right;
}
.nav-search:hover {
    background-color: red;
    cursor: pointer;
}
.nav-bars:hover{
    background-color: #ccc;
    color: #333;
}

/* container */
.container {
    margin-top: 46px;
}

.banner-silder {
    padding-top: 50%;
    background: url("./img/silder1.jpg") top center / cover no-repeat;
    position: relative;
}

.banner-text {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}
.baner-title {
    margin: 47px 0 15px 0;
    font-weight: 400;
    font-size: 25px;
}
.baner-text {
    margin-top: 10px;
    font-weight: bolder;
    font-size: 15px;
}

.section {
    width: 800px;
    max-width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 0px;
    overflow: hidden;

}

.section-header {
    margin: 10px 0;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 400;
}

.section-slogan {
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    margin: 15px 0;
}

.section-about {
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
    margin: 16px 0px;
}

.member-list {
    margin-top: 48px;
    padding-bottom: 15px;
}

.member-item {
    margin-bottom: 15px;
}
.member-name {
    margin-top: 16px;
}
.member-img {
    margin-top: 15px;
    width: 154px;
}
/* tour dates */
.section-tour {
    background-color: #000;
}
.book-tickets {
    padding-top: 16px;
}

.book-tickets li {
    background-color: #fff;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}
.Sold-out {
    background-color: #f44336;
    padding: 3px 8px;
    margin-left: 16px;
    color: #fff;
    font-size: 15px;
}

.amount {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -2px;
    margin-right: 16px;
}
.list-tour{ 
    margin-top: 32px;
}

.item-tour .tour-img{
    width: 100%;
    display: block;
}
.item-tour .tour-img:hover{
    opacity: 0.6;
}
.item-tour .tour-body{
    background-color: #fff;
    padding: 15px 16px;
}

.item-tour .tour-title{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

.item-tour .tour-date{
    margin: 15px 0px;
    opacity: 0.5;
}

.item-tour .tour-about{
    line-height: 1.5;
     margin-bottom: 15px;
     font-size: 15px;
}
.tour-body .tour-body-btn{
    background-color: #000;
    color: #fff;
    padding: 9px 16px;
    border: 0px;
    font-size: 15px;
}
.tour-body .tour-body-btn:hover{
    background-color: #ccc;
    cursor: pointer;
    color: #333;
}
/* contact */
.contact-content{
    margin-top: 47px;
}

.contact-text{
    width: 50%;
    float: left;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}
.contact-text span{
    margin-left: 16px;

}

.contact-form{
    width: 50%;
    float: right;
    font-size: 18px;
    line-height: 1.6;
}


.form-name{
    float: left;
    width: 50%;
    padding-right: 8px;
}
.form-sub .input{
    width: 100%;
    padding: 9px 8px;
}
.form-email{
    float: right;
    width: 50%;
    padding-left:8px ;
}
.contact-form .Message{
    width: 100%;
    padding: 8px;
    margin-top: 8px;
}
.contact-form .Send-btn{
    padding: 9px 16px;
    background-color: #000;
    color: #fff;
    float: right;
    right: 0;
    margin-top: 8px;
}
.contact-form [type=text ]{
    border: 1px solid #ccc;
}
.map{
    margin-top: 48px;
    background: url('./img/map.jpg') top center / cover no-repeat ;
    padding-top:50% ;
}

/* footer */
.footer{
    margin: 64px 0;
    width:100%;
    text-align: center;
}
.footer i{
    font-size: 24px;
    opacity: 0.5;
}
.footer i:hover {
    opacity: 0.5;
}
.footer p{
    margin-top: 14px;
    opacity: 0.6;
    font-size: 15px;
}
/* modal */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal-container{
    background-color:#fff ; 
    width: 900px;
    min-height: 250px;
    position: relative;
}
.modal .modal-Header {
    
    padding: 45px;
    background-color: #009688;
    color: #fff;
    text-align: center;
}
.modal .modal-Header span{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 4px;
}
.modal .modal-Header i{
    margin-right: 16px;
}
.modal .close{
    position: absolute;
    right: 0;
    color: #000;
    z-index: 1;
    padding:16px;
    color: #fff;
}
.modal-body{
    padding: 16px;
}
.modal .close:hover{
    background-color: #ccc;
    color: #333;
    cursor: pointer;
}
.modal-body i{
    margin-right: 5px;
    margin: 15px 0; 
}
.modal-body input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}
.modal-body button{
    width: 100%;
    background-color:#009688 ;
    border: none;
    margin: 16px 0;
    color: #fff;
}
.modal-body button:hover{
    background-color: #ccc;
    color: #333;
    cursor: pointer;
}
.modal-footer{
    float: right;
    margin: 16px 0;
    color: #333;
}
